.userimg{
  height: 60px;
  width: 60px;
}

.selectPage{
  font-weight: 900;
  color: white;
}

.pageSelector{
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s;
}

.pageSelector:hover{
 color: yellow;
}