.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
   padding: 10px;
}

.dialogsItems .active{
    color: gold;
}

.messages{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}
